<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first</title>
    <link rel="stylesheet" href="/static/css/mystyle.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/axios.js"></script>
</head>
<body>
    <div id="home">
        <div v-if="onOff">
            <div class="header">
                <h1>
                    {{ siteinfo.title }}
                </h1>
                <img src="/upload/{{ siteinfo.logo }}" alt="">
            </div>
            
            <hr />
            
            <div class="content">
                <div class="menu">
    
                    <div v-if="item.id==choosed" v-for="item in classes" class="item" style="background: #777; color: #fff;">
                        <a>[[item.text]]</a>
                    </div>
                    <div v-else v-on:click="chooseClass(item.id)" class="item">
                        <a>[[item.text]]</a>
                    </div>
    
                </div>
    
                <div v-if="item.id==choosed" v-for="item in classes" class="userlist">
                    <p>[[item.text]]</p>
                    <hr> 
    
                    <div v-if="item.userlist.length>0" v-for="user in item.userlist" class="user">
                        <img src="/static/admin.jpg" alt="">
                        <p>[[user.nickname]]</p>
                    </div>
                    <p v-else>没有用户</p>
    
                    
                </div>
            </div>
        </div>
        
    
        <hr />

        <div class="foot">
            <input v-model="inputText" type="text" style="height: 30ox; width: 700px;">
            <p>[[inputText]]</p>
            Copyright © 2020 KeithSnow
            <button @click="onOffClick">开关</button>
        </div>

    </div>
    
    <script>
        new Vue({
            delimiters: ['[[', ']]'],
            el: '#home',
            data: {
                choosed: 3, //注意这里和up不一样，up是1，我之前删过两次，开始的值为3
                classes: [],
                onOff: true,
                inputText:''
            },
            mounted() {
                this.getData()
            },
            methods: {
                getData(){
                    axios({
                        url:'/api/',
                        type:'json',
                        method:'get'
                    }).then((res)=>{
                        // console.log(res.data.classes)
                        this.classes = res.data.classes
                    })
                },
                chooseClass(id){
                    console.log(id)
                    this.choosed = id
                },
                onOffClick(){
                    this.onOff = !this.onOff
                }
            },
        })
    </script>
</body>

</html> 